#siteNav {
  height: auto;
  width: auto;
}
.tabParent {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.tab {
  flex: 1;
  cursor: pointer;
  background-color: rgb(21, 21, 21);
  color: white;
  height: 50px;
  text-transform: uppercase;
  transition: background 150ms ease-in-out;
}
li {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#dropdowns {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
.dropdown {
  opacity: 0;
  max-height: 0;
  max-width: 100%;
  flex: 1;
  padding: 10px;
  color: white;
  background-color: rgb(21, 21, 21);
  transition: max-height 1.5s ease-in;
}
.tab:hover {
  background: rgb(0, 8, 226);
}

#body {
  height: 100vh;
}
